# chanxOS GRUB overrides
GRUB_DISTRIBUTOR="chanxOS"
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash plymouth.ignore-serial-consoles loglevel=3 rd.udev.log_level=3 vt.global_cursor_default=0"
GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu
