[Desktop Entry]
Type=Application
Name=chanxOS Welcome Center
Comment=Open the chanxOS welcome center
Exec=chanx-welcome
Icon=chanxos-welcome
Terminal=false
Categories=System;Utility;
