# chanxOS ISOLINUX Master Config
UI vesamenu.c32
DEFAULT live
PROMPT 0

TIMEOUT 80
TOTALTIMEOUT 900
ONTIMEOUT live

MENU TITLE chanxOS 0.1 Alpha
MENU BACKGROUND splash.png

INCLUDE stdmenu.cfg
INCLUDE menu.cfg
