UI vesamenu.c32
DEFAULT live
PROMPT 0
TIMEOUT 80
TOTALTIMEOUT 900
ONTIMEOUT live

MENU TITLE  chanxOS 0.1 Alpha
MENU BACKGROUND splash.png
MENU RESOLUTION 800 600
MENU ROWS 8
MENU MARGIN 10
MENU HSHIFT 15
MENU VSHIFT 14
MENU WIDTH 50
MENU TIMEOUTROW 24
MENU HELPMSGROW 26
MENU HELPMSG Press ENTER to boot or TAB to edit
MENU TABMSGROW 28
MENU TABMSG Press TAB to edit, ENTER to select, ESC to cancel

INCLUDE stdmenu.cfg
INCLUDE menu.cfg
