# ─────────────────────────────────────────────────────────────────
#  chanxOS ISOLINUX Boot Menu
#  user: chanx  |  password: live
# ─────────────────────────────────────────────────────────────────

# Layout
menu hshift   4
menu width    72
menu margin   3
menu rows     8
menu vshift   10
menu tabmsgrow  21
menu timeoutrow 23
menu helpmsgrow 25
menu helpmsg  Enter = pilih    Tab = edit    Esc = keluar

MENU SEPARATOR

LABEL live
  MENU LABEL   ^1.  chanxOS  --  Live Session  [default]
  MENU DEFAULT
  LINUX  /live/vmlinuz
  INITRD /live/initrd.img
  APPEND boot=live components username=chanx hostname=chanxos user-fullname=chanxOS quiet splash plymouth.ignore-serial-consoles loglevel=3 ---

LABEL live-safe
  MENU LABEL   ^2.  chanxOS  --  Safe Graphics Mode
  LINUX  /live/vmlinuz
  INITRD /live/initrd.img
  APPEND boot=live components username=chanx hostname=chanxos user-fullname=chanxOS nomodeset vga=normal quiet splash ---

MENU SEPARATOR

LABEL install
  MENU LABEL   ^3.  Pasang chanxOS ke Disk
  LINUX  /install/vmlinuz
  INITRD /install/initrd.gz
  APPEND priority=low quiet splash ---

LABEL install-text
  MENU LABEL   ^4.  Pasang chanxOS  (Mode Teks)
  LINUX  /install/vmlinuz
  INITRD /install/initrd.gz
  APPEND priority=low ---

MENU SEPARATOR

LABEL local
  MENU LABEL   ^5.  Boot dari Hard Disk
  LOCALBOOT 0xffff

MENU SEPARATOR

