# chanxOS ISOLINUX Boot Menu Entries
# ====================================

MENU SEPARATOR

LABEL live
  MENU LABEL  ^1. Live chanxOS  (Recommended)
  MENU DEFAULT
  LINUX /live/vmlinuz
  INITRD /live/initrd.img
  APPEND boot=live components username=chanx hostname=chanxos quiet splash plymouth.ignore-serial-consoles ---

LABEL live-safe
  MENU LABEL  ^2. Live chanxOS  [Safe Graphics Mode]
  LINUX /live/vmlinuz
  INITRD /live/initrd.img
  APPEND boot=live components username=chanx hostname=chanxos nomodeset vga=normal ---

MENU SEPARATOR

LABEL install
  MENU LABEL  ^3. Install chanxOS
  LINUX /install/vmlinuz
  INITRD /install/initrd.gz
  APPEND priority=low quiet splash ---

LABEL install-text
  MENU LABEL  ^4. Install chanxOS  [Text Mode]
  LINUX /install/vmlinuz
  INITRD /install/initrd.gz
  APPEND priority=low ---

MENU SEPARATOR

LABEL local
  MENU LABEL  ^5. Boot from Hard Disk
  LOCALBOOT 0xffff

LABEL memtest
  MENU LABEL  ^6. Memory Test (memtest86+)
  KERNEL /utils/memtest86+
