[Desktop Entry]
Type=Application
Name=Light Locker
Comment=Screen locker for chanxOS
Exec=light-locker --lock-after-screensaver=30
X-GNOME-Autostart-enabled=true
OnlyShowIn=XFCE;
Terminal=false
Hidden=false
