[Desktop Entry]
Type=Application
Name=chanxOS Lock Screen
Exec=light-locker --lock-after-screensaver=0 --late-locking --no-lock-on-lid
X-GNOME-Autostart-enabled=true
NoDisplay=false
Terminal=false
Hidden=false
