[Desktop Entry]
Type=Application
Name=Picom
Exec=sh -lc 'picom --config "$HOME/.config/picom/picom.conf"'
X-GNOME-Autostart-enabled=true
Terminal=false
